<div id="message-box" class="ui small modal">
  <!--div class="ui header">
    {{msg_head}}
  </div-->
  <div class="content">
    <table class="ui very basic table">
      <tbody>
      <tr>
        <td class="collapsing" [ngSwitch]="msg_type">
          <i *ngSwitchCase="0" class="ui blue huge help circle icon"></i>
          <i *ngSwitchCase="1" class="ui green huge info circle icon"></i>
          <i *ngSwitchCase="2" class="ui orange huge warning circle icon"></i>
          <i *ngSwitchCase="3" class="ui red huge remove circle icon"></i>
        </td>
        <td>
          {{msg_body}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <div class="ui cancel button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui ok button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
