<div class="ui inverted small modal">
  <div class="header">
    EZ Translate
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="./assets/images/logo-m-size.png">
    </div>
    <div class="description">
      <div class="ui header">快译通(快意人生)</div>
      <p>We've found the following image associated with
        your e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui deny button">
      Close
    </div>
  </div>
</div>
