<div id="open-dialog" class="ui modal">
  <div class="ui header">
    Import New Document
  </div>
  <div class="content pt-tab-menu">
    <div class="ui pointing secondary menu">
      <a class="active item" data-tab="ebook">eBook File</a>
      <a class="item" data-tab="document">Document File</a>
      <a class="item" data-tab="web">Web Page</a>
      <a class="item" data-tab="suda">Suda Cloud</a>
    </div>
    <div class="ui active tab segment" data-tab="ebook">
      <div class="ui fluid action input">
        <input id="ebook-path-input" type="text" #eBookURL placeholder="Local eBook File">
        <button class="ui icon button" (click)="eBookBrowse(eBookURL)">
          <i class="ellipsis horizontal icon"></i>
        </button>
      </div>
    </div>
    <div class="ui tab segment" data-tab="document">
      <div class="ui fluid action input">
        <input id="local-path-input" type="text" #docFileURL placeholder="Local Document File">
        <button class="ui icon button" (click)="docBrowse(docFileURL)">
          <i class="ellipsis horizontal icon"></i>
        </button>
      </div>
    </div>
    <div class="ui tab segment" data-tab="web">
      <div class="ui fluid action input">
        <input id="web-url-input" type="text" #webPageURL placeholder="Internet Web Page">
        <button class="ui icon button" (click)="paste(webPageURL)">
          <i class="paste icon"></i>
        </button>
      </div>
    </div>
    <div class="ui tab segment" data-tab="suda">
      <p>Translate Requests on Suda Cloud</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui primary ok button" (click)="onOK()">
      Import
    </div>
    <div class="ui cancel button">
      Cancel
    </div>
  </div>
</div>
