<!-- Too bar -->
<div id="tool-bar" class="ui violet inverted attached menu">
  <a class="item" (click)="openFile()">
    <i class="sign in icon"></i> Import
  </a>
  <a class="item" (click)="autoTranslate()">
    <i class="translate icon"></i> Translate
  </a>
  <a class="item">
    <i class="sign out icon"></i> Export
  </a>
  <!--div class="ui dropdown item"> More
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">术语库</a>
      <a class="item">Check for Update</a>
      <a class="item">更多功能</a>
    </div>
  </div-->
  <a class="right item" (click)="showSettings()">
    <i class="setting icon"></i>
  </a>
  <!--div class="right item">
    <div class="ui input"><input type="text" placeholder="Search..."></div>
  </div-->
</div>

<!-- Translate (list & side) -relaxed -->
<div id="trans-container">
  <div id="trans-list" class="ui divided list">
    <div *ngFor="let sentence of sentences; let idx = index" id="item-{{idx}}"
         (click)="onItemClick(idx, sentence)"
         (mouseenter)="onMouseEnter(idx)"
         (mouseleave)="onMouseLeave(idx)"
         class="item">
      <table id="table-{{idx}}" class="ui very basic table">
        <tbody>
        <tr>
          <td rowspan="2" class="collapsing">
            <i class="edit icon"></i>
          </td>
          <td class="source-cell">
            {{sentence.source}}
          </td>
          <td class="collapsing">
            <i class="checkmark icon"></i>
          </td>
        </tr>
        <tr>
          <td class="target-cell">
            {{getTargetText(sentence)}}
          </td>
          <td class="collapsing">
            <i class="{{getEngineIcon(sentence)}}"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-panel [sentence]="sentences[cur_index]"
             (selectedChangeEvent)="onSelectedChange()"
             id="trans-side">
  </app-panel>
</div>

<!-- Status Bar -->
<div id="status-bar" class="ui violet inverted attached stackable menu">
  <!--div class="item">
    <i class="bar chart icon"></i> 80% (160/200)
  </div-->
  <a class="item">
    <i class="bar chart icon"></i> 80% (160/200)
  </a>
  <a class="item">
    <i class="world icon"></i> English -> Simplified Chinese
  </a>


  <a class="right item" (click)="showAbout()">
    <i class="help icon"></i>
  </a>
</div>

<!-- Setting Dialog -->
<app-settings></app-settings>

<!-- About Dialog -->
<app-about></app-about>
