<!-- Too bar -->
<div id="tool-bar" class="ui violet inverted attached menu">
  <a class="ui icon item" (click)="toggle()">
    <i class="sidebar icon"></i>
  </a>
  <a class="item" (click)="importFile(null)">
    <i class="sign in icon"></i> Import
  </a>
  <a class="item" (click)="autoTranslate()">
    <i class="translate icon"></i> Translate
  </a>
  <a class="item" (click)="exportFile()">
    <i class="sign out icon"></i> Export
  </a>
  <a class="ui icon item" (click)="sync()" data-content="Cloud Sync" data-variation="tiny">
    <i class="refresh icon"></i>
  </a>

  <!--a class="item" (click)="test()">
    <i class="umbrella icon"></i> Test
  </a-->

  <!--div class="ui dropdown item"> More
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">术语库</a>
      <a class="item">Check for Update</a>
      <a class="item">更多功能</a>
    </div>
  </div-->
  <div class="right menu">
    <div class="item">
      <div class="ui inverted transparent icon input">
        <input #searchtext id="main-search" type="text" placeholder="Search..." (input)="onSearchInput(searchtext)">
        <i *ngIf="!searchtext.value" class="search link icon" (click)="showSearchOptions()"></i>
        <i *ngIf="searchtext.value" class="remove link icon" (click)="onCloseSearch(searchtext)"></i>
      </div>
    </div>
    <a class="item" (click)="showSettings()" data-content="Settings" data-variation="tiny">
      <i class="setting icon"></i>
    </a>
  </div>

</div>

<!-- Translate (list & side) -relaxed -->
<div id="trans-container">
  <div id="trans-list" class="ui divided list">
    <div *ngFor="let idx of getPageRange()" id="item-{{idx}}"
         (click)="onItemClick(idx)"
         (contextmenu)="onItemContextMenu(idx)"
         (mouseenter)="onMouseEnter(idx)"
         (mouseleave)="onMouseLeave(idx)"
         class="item">

      <table id="table-{{idx}}" class="ui very basic table">
        <tbody>
        <tr>
          <td [attr.rowspan]="(child_home.cur_doc.sentences[idx].target == -2 || child_home.cur_doc.sentences[idx].ignore) ? 1 : 2" class="collapsing">
            <a class="{{getStatusIcon(idx) === 'placeholder icon' ? 'ez-hide' : ''}}">
              <i id="state-{{idx}}" class="{{getStatusIcon(idx)}}"></i>
            </a>
          </td>
          <td class="source-cell">
            {{child_home.cur_doc.sentences[idx].source}}
          </td>
          <td [attr.rowspan]="(child_home.cur_doc.sentences[idx].target == -2 || child_home.cur_doc.sentences[idx].ignore) ? 1 : 2" class="collapsing">
            <a id="mark-{{idx}}" class="{{getMarkVisibility(idx)}}" (click)="changeFlagIcon(idx)">
              <i *ngIf="child_home.cur_doc.sentences[idx].marked" class="flag icon"></i>
              <i *ngIf="!child_home.cur_doc.sentences[idx].marked" class="flag outline icon"></i>
            </a>
          </td>
        </tr>
        <tr *ngIf="child_home.cur_doc.sentences[idx].target != -2 && !child_home.cur_doc.sentences[idx].ignore">
          <td class="target-cell">
            {{getTargetText(idx)}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-panel [index]="cur_index"
             [search]="search_text"
             [sentence]="child_home.cur_doc.sentences[cur_index]"
             (rerenderEvent)="forceRerender($event)"
             (refreshEvent)="forceRefresh($event)"
             id="trans-side">
  </app-panel>
</div>

<!-- Status Bar -->
<div id="status-bar" class="ui violet inverted attached stackable menu">

  <a class="item" data-content="No. / PageSize" data-variation="tiny">
    <i class="caret right icon"></i> {{getPageRange().indexOf(cur_index) + 1}} / {{getPageRange().length}}
  </a>
  <a class="item" data-content="t-total s-skipped r-revised" data-variation="tiny">
    <i class="bar chart icon"></i> {{getStatInfo()}}
  </a>



  <a class="item" data-content="Languages" data-variation="tiny">
    <i class="world icon"></i> {{ems.getSourceLanguage()}} - {{ems.getTargetLanguage()}}
  </a>

  <div class="right menu">
    <a *ngIf="getPageCount() > 1" class="ui icon item" (click)="nextPage()"
       data-content="Next Page" data-variation="tiny">
      <i class="chevron right icon"></i>
    </a>
    <div *ngIf="getPageCount() > 1" class="ui borderless text item">
      {{cur_page + 1}} / {{getPageCount()}}
    </div>
    <a *ngIf="getPageCount() > 1" class="ui borderless icon item" (click)="prevPage()"
       data-content="Previous Page" data-variation="tiny">
      <i class="chevron left icon"></i>
    </a>
    <a class="item" (click)="showAbout()" data-content="About" data-variation="tiny">
      <i class="help icon"></i>
    </a>
  </div>
</div>

<!-- doc tree -->
<app-home (rerenderEvent)="forceRerender($event)"
          (exportEvent)="exportFile()"
          (importEvent)="importFile($event)">
</app-home>

<!-- Setting Dialog -->
<app-settings></app-settings>

<!-- About Dialog -->
<app-about></app-about>

<!--
https://github.com/angular/angular/issues/4610
https://stackoverflow.com/questions/35615751/why-is-colspan-not-a-known-native-attribute-in-angular-2
-->
