#tool-bar {
  // width: 100%;  不能加这个，否则右边有空隙！！
  height: 44px;
}

#trans-container {
  #trans-list {
    position: absolute;
    top: 44px;
    left: 0;
    right: auto;
    bottom: 44px;
    width: 62%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .item {
      padding: 0 12px 0 12px;  // 上右下左

      // https://github.com/Semantic-Org/Semantic-UI/issues/1980
      table tr td {
        border-top: 0 !important;
        div.trans-flag-icon {
          padding-left: 4px;
          font-size: smaller;
        }
      }

      .source-alone {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        line-height: 1.4285;  // 1.5, 1.28571429em
      }

      .source-cell {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        padding-top: 8px;
        padding-bottom: 4px;
        line-height: 1.4285;  // 1.5, 1.28571429em
      }

      .target-alone {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        line-height: 1.4285; // 1.5, 1.28571429em
      }

      .target-cell {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        padding-top: 4px;
        padding-bottom: 8px;
        line-height: 1.4285; // 1.5, 1.28571429em
      }
    }
  }

  #trans-panel {
    position: absolute;
    top: 44px;
    left: auto;
    right: 0;
    bottom: 44px;
    width: 38%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#status-bar {
  position: absolute;
  height: 44px;
  top: auto;
  bottom: 0;
  // width: 100%;  不能加这个，否则右边有空隙！！
}

.ez-hide {
  visibility: hidden;  // 方法1：不响应交互
  // opacity: 0;       // 方法2：透明，仍相应交互
  // display: none;    // 方法3：不渲染元素，不占空间了
}

.selected_sentence {
  background-color: whitesmoke;  // ghostwhite
}

/* for jquery-highlight 但放在这里不管用！！！
.highlight { background-color: #FFFF88; }
*/
