<!-- Too bar -->
<div id="tool-bar" class="ui attached menu">
  <a class="item" (click)="openFile()">
    <i class="folder open icon"></i> Open
  </a>

  <a class="item" (click)="toggle()">
    <i class="save icon"></i> Save
  </a>

  <a class="item" (click)="autoTranslate()">
    <i class="rocket icon"></i> Auto
  </a>

  <a class="item">
    <i class="setting icon"></i> Settings
  </a>

  <div class="right item">
    <div class="ui input"><input type="text" placeholder="Search..."></div>
  </div>
</div>

<!-- Translate -->
<!--div id="trans-segments" class="ui horizontal segments">
  <div id="source-segment" class="ui segment">
    <textarea id="source-text" maxlength="1000"></textarea>
  </div>
  <div id="target-segment" class="ui segment">
    <textarea id="target-text" readonly="readonly"></textarea>
  </div>
</div-->

<!-- translate -->
<div id="trans-container">
  <div id="trans-list" class="ui relaxed divided selection list">
    <div *ngFor="let sentence of sentences; let idx = index"
         (click)="onItemClick(idx, sentence)"
         (dblclick)="onItemDblclick(idx, sentence)"
         (contextmenu)="onItemContextMenu(idx, sentence)"
         id="item-{{idx}}" class="normal-state item">
      <i class="large angle right middle aligned icon"></i>
      <div class="content">
        <div class="source">{{sentence.source}}</div>
        <div class="target">{{sentence.target}}</div>
      </div>
    </div>
  </div>

  <div id="trans-side">

  </div>
</div>


<!-- Status bar -->
<div id="status-bar" class="ui attached stackable menu">

  <div class="item">
    <i class="bar chart icon"></i> 80% (160/200)
  </div>

  <a class="item">
    <i class="translate icon"></i> Google
  </a>

  <a class="item">
    <i class="world icon"></i> English -> Simplified Chinese
  </a>

  <a class="right item" data-content="View project on GitHub"
     href="https://github.com/shaojianyong/eztrans">
    <i class="github icon"></i>
  </a>

  <a class="item" data-content="Submit Bug Report"
     href="https://github.com/shaojianyong/eztrans/issues/new">
    <i class="bug icon"></i>
  </a>

  <a class="item" data-content="Mail"
     href="mailto: shaojianyong@hotmail.com">
    <i class="mail icon"></i>
  </a>

  <a class="item" data-content="Wechat"
     href="mailto: shaojianyong@hotmail.com">
    <i class="qrcode icon"></i>
  </a>

</div>

<!--div class="ui bottom attached segment pushable">
  <div class="ui visible inverted left vertical sidebar menu">
    <a class="item"><i class="home icon"></i> Home </a>
    <a class="item"><i class="block layout icon"></i> Topics </a>
    <a class="item"><i class="smile icon"></i> Friends </a>
    <a class="item"><i class="calendar icon"></i> History </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <h3 class="ui header">Application Content</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div-->
