#tool-bar {
  // width: 100%;  不能加这个，否则右边有空隙！！
  height: 48px;
}

#trans-container {
  #trans-list {
    position: absolute;
    top: 48px;
    left: 0;
    right: auto;
    bottom: 42px;
    width: 62%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .selected-state {
      background-color: royalblue;
    }

    .source-text,
    .target-text {
      padding-left: 4px;
      line-height: 1.28571429em;
    }
  }

  #trans-side {
    position: absolute;
    top: 48px;
    left: auto;
    right: 0;
    bottom: 42px;
    width: 38%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#status-bar {
  position: absolute;
  top: auto;
  bottom: 0;
  // width: 100%;  不能加这个，否则右边有空隙！！
  height: 42px;
}
