#tool-bar {
  // width: 100%;  不能加这个，否则右边有空隙！！
  height: 48px;
}

#trans-container {
  #trans-list {
    position: absolute;
    top: 48px;
    left: 0;
    right: auto;
    bottom: 42px;
    width: 62%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .item {
      padding-left: 8px;
      padding-right: 8px;
      .source-cell {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 8px;
        line-height: 1.4285;  // 1.5, 1.28571429em
      }
      .target-cell {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 16px;
        line-height: 1.4285; // 1.5, 1.28571429em
      }
    }
  }

  #trans-side {
    position: absolute;
    top: 48px;
    left: auto;
    right: 0;
    bottom: 42px;
    width: 38%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#status-bar {
  position: absolute;
  top: auto;
  bottom: 0;
  // width: 100%;  不能加这个，否则右边有空隙！！
  height: 42px;
}

.ez-hide {
  visibility: hidden;  // 方法1：不响应交互
  // opacity: 0;       // 方法2：透明，仍相应交互
  // display: none;    // 方法3：不渲染元素，不占空间了
}

/*
.ez-show {
  visibility: visible;
}
*/
