<!--div id="filter-popup" class="ui flowing bottom right popup">
  <div class="ui small selectable very basic table">
    <thead>
    <tr>
      <th colspan="2">
        选取过滤类型
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <i class="filter icon"></i> All
      </td>
      <td>
        Clear search filter
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <i class="green checkmark icon"></i> Checked
      </td>
      <td>
        Has been confirmed
      </td>
    </tr>
    <tr>
      <td>
        <i class="blue quote left icon"></i> Skipped
      </td>
      <td>
        Keep original text
      </td>
    </tr>
    <tr>
      <td>
        <i class="teal asterisk icon"></i> Translated
      </td>
      <td>
        Checked excluded
      </td>
    </tr>
    <tr>
      <td>
        <i class="grey circle icon"></i> Untranslated
      </td>
      <td>
        No translation yet
      </td>
    </tr>
    </tbody>
  </div>
</div-->
