<!-- Toobar -->
<div id="toolbar" class="ui attached stackable menu">

  <a class="item" (click)="toggleSidebar()">
    <i class="setting icon"></i> Settings
  </a>

</div>

<!-- Sidebar bottom->top -visible -->

<!--div id="side-bar" class="ui bottom sidebar ui segment">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="sixteen wide column">
        <h3 class="ui header">New Content Awaits</h3>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="/images/wireframe/media-paragraph.png">
      </div>
    </div>
  </div>
</div-->

<div id="mysidebar" class="ui bottom sidebar segment">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="sixteen wide column">
        <h3 class="ui header">New Content Awaits</h3>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        <img class="ui wireframe image" src="">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="">
      </div>
    </div>
  </div>
</div>

<!-- Status bar -->
<!--div id="status-bar" class="ui attached stackable menu">

  <div class="item">
    <i class="bar chart icon"></i> 80% (160/200)
  </div>

  <a class="item">
    <i class="translate icon"></i> Google
  </a>

  <a class="item">
    <i class="world icon"></i> English -> Simplified Chinese
  </a>

  <a class="right item" data-content="View project on GitHub"
     href="https://github.com/shaojianyong/eztrans">
    <i class="github icon"></i>
  </a>

  <a class="item" data-content="Submit Bug Report"
     href="https://github.com/shaojianyong/eztrans/issues/new">
    <i class="bug icon"></i>
  </a>

  <a class="item" data-content="Mail"
     href="mailto: shaojianyong@hotmail.com">
    <i class="mail icon"></i>
  </a>

  <a class="item" data-content="Wechat"
     href="mailto: shaojianyong@hotmail.com">
    <i class="qrcode icon"></i>
  </a>

</div-->
