/* You can add global styles to this file, and also import other style files */
body {
  font-family: Microsoft YaHei;
  overflow: hidden;
}

/* for jquery-highlight */
.highlight {
  background-color: #ff9632; //#FFFF88;
}

// stackoverflow.com/questions/26766296/semantic-ui-bottom-sidebar-increase-size
#preview-side {
  // width: 100vw !important;
  height: 100vh !important;
  margin-top: -100vh !important;

  #preview-context {
    width: 100%;
    height: 100%;
    webview {
      width: 100%;
      height: 100%;
    }
  }
}
