<div id="left-side" class="ui sidebar">
  <div class="ui items">
    <div class="ui item">
      <div class="ui top attached inverted secondary small icon menu">
        <a class="item">
          <i class="gamepad icon"></i>
        </a>
        <a class="item">
          <i class="video camera icon"></i>
        </a>
        <div class="right menu">
          <a class="item">
            <i class="minus icon"></i>
          </a>
          <a class="item">
            <i class="plus icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="ui item">
      <div class="ui attached inverted vertical accordion">

        <div class="item">
          <a class="active title">
            <i class="dropdown icon"></i>
            My translations
          </a>
          <div class="active content">
            <table class="ui inverted very basic table">
              <tbody>
              <tr>
                <td class="collapsing">
                  <i class="star icon"></i>
                </td>
                <td>
                  hello.html
                </td>
                <td class="collapsing">
                  <i class="flag icon"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="item">
          <a class="title">
            <i class="dropdown icon"></i>
            My translations2
          </a>
          <table class="ui inverted very basic table">
            <tbody>
            <tr>
              <td class="collapsing">
                <i class="star icon"></i>
              </td>
              <td>
                hello.html
              </td>
              <td class="collapsing">
                <i class="flag icon"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
