#left-side {
  font-size: small;
  overflow-x: hidden;
  overflow-y: auto;

  #left-side-menu {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: solid 1px #656565;
  }

  #left-side-list {
    padding-top: 0;
    margin-top: 0;

    .ui.accordion {
      .title {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 8px;
        padding-right: 8px;
        color: lightgray;
      }

      .active.title {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 8px;
        padding-right: 8px;
        color: white;
      }

      td.collapsing.left-mark {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 22px;
        padding-right: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
      }

      td.doc-name {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
      }

      td.collapsing.right-mark {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 2px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }
}

.selected_document {
  background-color: gray;
}

.doc-count {
  float: right;
}
