#left-side {
  font-size: small;
  overflow-x: hidden;
  overflow-y: auto;

  #left-side-menu {
    height: 48px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #left-side-list {
    padding-top: 0;
    margin-top: 0;

    .ui.accordion {
      .title {
        padding: 6px;
        color: lightgray;
        border-bottom: 1px solid #b2b2b2;
      }

      .active.title {
        padding: 6px;
        color: white;
        border-bottom: 1px solid #545454;
      }

      .content>table {
        border-bottom: 1px solid #b2b2b2;
      }

      td.collapsing.left-mark {
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 18px;
        padding-right: 2px;
      }

      td.collapsing.right-mark {
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 2px;
        padding-right: 6px;
      }

      td.doc-name {
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
}

.selected_document {
  background-color: gray;
}
