#left-side {
  overflow-x: hidden;
  overflow-y: auto;
  .ui.secondary.menu {
    height: 48px;
    margin: 0;
    /*padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0;*/
  }
  .ui.items {
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    .ui.item {
      width: 100%;
      height: 100%;
      .ui.table {
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  /*#side-menu {
    width: 100%;
    height: 100%;
  }*/
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width: 14.2em;
  display:block;
}
