<div id="left-side" class="ui sidebar">

  <div class="ui items">
    <div id="left-side-menu" class="ui item">
      <div class="ui top attached inverted secondary icon menu">
        <a class="item">
          <i class="plus icon"></i>
        </a>
        <div class="right menu">
          <a class="ui item">
            <i class="trash icon"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="left-side-list" class="ui item">
      <div class="ui inverted fluid vertical accordion">
        <div *ngFor="let group of doc_groups" class="item">
          <div class="title" (contextmenu)="onGroupContextMenu(group)" id="group-{{group.id}}">  <!--active-->
            <i class="dropdown icon"></i>
            {{group.name}}
          </div>
          <div class="content">  <!--active content-->
            <table class="ui inverted small very basic table">  <!--selectable-->
              <tbody>
              <tr *ngFor="let doc of group.documents"
                  id="doc-{{doc.id}}"
                  (click)="select(doc)"
                  (contextmenu)="onDocContextMenu(doc)"
                  class="{{(sel_doc && doc.id === sel_doc.id) ? 'selected_document' : ''}}">
                <td class="collapsing left-mark">
                  <i class="file text icon"></i>
                </td>
                <td class="trans-data">
                  {{doc.name}}
                </td>
                <td class="collapsing right-mark">
                  <i *ngIf="doc.doc_state === 1" class="edit icon"></i>
                  <i *ngIf="doc.doc_state === 2" class="checkmark icon"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
