<div id="panel-container" *ngIf="sentence && sentence.target !== -2 && !sentence.ignore" class="ui container">
  <div *ngIf="sentence.custom.length" class="ui vertical segment">
    <p id="custom-trans-view" [innerHTML]="getCustomHtml()" (click)="disableDocLink($event)">
    </p>
    <div class="ui small secondary menu">
      <a class="item" (click)="selectTranslation(-1)">
        <i class="{{getHeartIcon(-1)}}"></i> Like
      </a>
      <a class="item" (click)="removeCustom()">
        <i class="remove icon"></i> Delete
      </a>
      <a class="right icon item">
        <i class="green pencil alternate icon"></i>
      </a>
    </div>
  </div>
  <!-- important: idx定义要用let，否则事件处理函数不能用它作为参数 -->
  <div *ngFor="let refer of sentence.refers; let idx = index" class="ui vertical segment">
    <p [innerHTML]="getTargetHtml(refer)" (click)="disableDocLink($event)">
    </p>
    <div class="ui small secondary menu">
      <a class="item" (click)="selectTranslation(idx)">
        <i class="{{getHeartIcon(idx)}}"></i> Like
      </a>
      <a class="right icon item" (click)="onExLink(refer.engine)">
        <i class="{{getEngineIcon(refer.engine)}}"></i>
      </a>
    </div>
  </div>
</div>
