<div class="ui small basic icon buttons">
  <button class="ui button"><i class="idea icon"></i></button>
  <button class="ui button"><i class="checkmark icon"></i></button>
  <button class="ui button"><i class="empty heart icon"></i></button>
  <button class="ui button"><i class="heart icon"></i></button>
  <button class="ui button"><i class="edit icon"></i></button>
  <button class="ui button"><i class="plus icon"></i></button>
  <button class="ui button"><i class="minus icon"></i></button>
  <button class="ui button"><i class="empty star icon"></i></button>
  <button class="ui button"><i class="star icon"></i></button>
  <button class="ui button"><i class="thumbs down icon"></i></button>
  <button class="ui button"><i class="thumbs up icon"></i></button>
</div>

<div class="ui divided items">
  <div class="item">
    <div class="content">
      <a class="header">Baidu</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p>网易财经12月14日讯 据彭博报道，北京时间凌晨3:00，美国联邦储备委员会宣布将联邦基金利率目标区间上调25个基点到1.25%至1.5%的水平。香港金管局上调基准利率至1.75%。</p>
      </div>
      <div class="ui left floated menu">
        <div class="ui checkbox"><input type="checkbox"></div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">Google</a>
      <div class="meta">
        <span class="cinema">IFC Cinema</span>
      </div>
      <div class="description">
        <p>据彭博报道，北京时间凌晨3:00，美国联邦储备委员会宣布将联邦基金利率目标区间上调25个基点到1.25%至1.5%的水平。</p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">iCiba</a>
      <div class="meta">
        <span class="cinema">IFC</span>
      </div>
      <div class="description">
        <p>据彭博报道，北京时间凌晨3:00，美国联邦储备委员会宣布将联邦基金利率目标区间上调25个基点到1.25%至1.5%的水平。</p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
