<div id="panel-container" *ngIf="sentence && sentence.target !== -2 && !sentence.ignore" class="ui container">
  <div *ngIf="sentence.custom" class="ui vertical segment">
    <div class="ui list">
      <div *ngFor="let nodetext of sentence.custom; let idx = index" class="item">
        <i class="linkify icon"></i>
        <div class="content" id="custom-editor-{{idx}}" [textContent]="nodetext"
             (input)="onEditInput(idx)" (focus)="onEditFocus(idx)" (blur)="onEditBlur(idx)"
             (keydown.enter)="endEditEnterKeyDown($event)" contenteditable="true">
        </div>
      </div>
    </div>
    <div class="ui small secondary menu">
      <a class="item" (click)="selectTranslation(-1)">
        <i class="{{getHeartIcon(-1)}}"></i> Like
      </a>
      <a class="item" (click)="removeCustom()">
        <i class="remove icon"></i> Delete
      </a>
      <a class="right icon item">
        <i class="idea icon"></i>
      </a>
    </div>
  </div>
  <!-- important: idx定义要用let，否则事件处理函数不能用它作为参数 -->
  <div *ngFor="let refer of sentence.refers; let idx = index" class="ui vertical segment">
    <p>{{refer.target_text}}</p>
    <div class="ui small secondary menu">
      <a class="item" (click)="selectTranslation(idx)">
        <i class="{{getHeartIcon(idx)}}"></i> Like
      </a>
      <a class="item" (click)="clone(idx)">
        <i class="clone outline icon"></i> Clone
      </a>
      <a class="right icon item" (click)="onExLink(refer.engine_name)">
        <i class="{{getEngineIcon(refer.engine_name)}}"></i>
      </a>
    </div>
  </div>
</div>
