#panel-container {
  .ui.vertical.segment {
    padding-top: 12px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    p {
      text-align: justify;
      text-justify: distribute-all-lines;
      text-align-last: left;
      line-height: 1.4285;
      margin-bottom: 2px;

      .even-slice-color {
        background-color: lightskyblue;
      }
    }

    div.menu {
      margin-top: 2px;
    }
  }
}
